body,ul,div,a,li{
	margin: 0;
	padding: 0;
	background: black;
}
.tabs{
	margin:20px auto;
	width: 400px;
}
.tabs_ul{
	list-style: none;
	text-align: center;
}
.tabs_li{
	float: left;
}
a{
	display: inline-block;
	height:30px;
	width:100px;
	margin-right: 5px;
	text-decoration: none;
	line-height: 30px;
}
.unSelected{
	background-color: white;
	color: black;
}
.isSelected{
	background-color:rgb(72, 70, 73);
	color: rgb(255, 255, 255);
}
.panpel{
	clear:both;
	width:640px;
	height:580px;
	padding: 20px;
	background-color:white;
	display: none;
}

.img_outer {
	width:540px;
	height: 320px; 
	margin-bottom: 10px;
}
.img_outer img{
	width: 100%;
	height: 100%;
}